<a href="#">
    <img class="logo" src="../../../assets/bidalgo-logo.png">
</a>

<div class="row bdg-navbar">

    <div ng-repeat="item in vm.items"
         class="bdg-navbar-item col-lg-4 col-md-4 col-sm-12 col-xs-12"
         ng-class="{'active-navbar-item': item.active}">

        <a href="#{{item.state}}" class="noline bdg-navlink"> {{item.text}} </a>

    </div>

</div>

<!--

<a href="#{{item.state}}" class="noline bdg-navlink"> {{item.text}} </a>

-->
