<br> <div class="text"> Choose a file to upload </div> <br><br>

<form id="upload-form" class="form" action="upload" target="_blank" method="post" enctype="multipart/form-data">
    <input id="file-input" type="file" name="file">
    <input type="submit" value="Upload">
</form>