body {
    text-align: center;
}

.text {
    font-size: 1.5em;
}

input[type="file"], .inline {
    display: inline-block;
}

a.noline, a.noline:hover {
    text-decoration: none;
}

.gallery-img {
    /* less than 768px */
    width: 80%;
    margin: 2%;
}

.logo {
    /* less than 768px */
    margin-top: 2%;
    margin-bottom: 3%;
    width: 100%;
}

.bdg-navlink {
    /* less than 768px */
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}

.bdg-navbar {
    margin-top: 2%;
    margin-bottom: 7%;
}

.bdg-navbar-item {
    font-size: 2.2em;
    transition: background-color 0.85s ease;
    background-color: white;
    height: 60px;
    text-align: center;
}

.active-navbar-item {
    background-color: #deefc9;
}

.bdg-navbar-item:hover {
    background-color: #ebefe7;
}

.title {
    color: #5e5e5e;
}

@media only screen and (min-width: 768px) {
    .logo {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 40%;
    }

    .gallery-img {
        width: 40%;
        margin: 2%;
    }

    .bdg-navbar {
        margin-top: 2%;
        margin-bottom: 4%;
        font-size: 0.9em;
    }

    .bdg-navbar-item {
        transition: background-color 0.85s ease;
        background-color: white;
        text-align: center;
        font-size: 2em;
    }

    .text {
        font-size: 1.4em;
    }
}