<div class="text">
    This submission for Bidalgo's junior test was created by Yakir Rabinovich.<br>
    Hope you'll like it :) <br><br>

    <b>Contact Information:</b> <br>
    <a href="mailto:yagiro@gmail.com">yagiro@gmail.com </a><br>
    050-786-1296 <br>
</div>