<a ng-repeat="image in vm.images track by $index" href="{{image}}" target="_blank">
    <img class="gallery-img" ng-src="{{image}}"/>
</a>

<div id="gallery-msg" class="text" ng-hide="vm.hasImages">
    Here you can view your uploaded images.
</div>
